---
title: Kúnkere - Arritmia Compulsiva
description: Kúnkere es una banda de percusión africana afincada en Madrid.
keywords: percusión, percussion, band, kunkere, kunk-kere, percusión en Madrid, grupo de percusión, arritmia compulsiva
---

.navbar.navbar-fixed-top
  .navbar-inner
    .container

%header.jumbo
  %img.logo{:src => 'images/kunkere-130.png', :alt => 'Kúnkere'}
  %h1 Kúnkere
  %p.lead Arritmia Compulsiva

%section.well
  %p.center.lead= @item[:description]

  %p.center
    Kúnkere, Arritmia Compulsiva es el nombre con el que se hace llamar una gran “familia” de más de 10 músicos de percusión africana que, desde hace más de dos años, comparten un mismo proyecto, aventureros curiosos de los ritmos mandingas, ritmos que hablan de un continente negro muy cercano, muy presente y del que tantas influencias sociales y culturales recibimos en diversos eventos sociales y musicales.

    Instrumentos africanos de percusión, como djembés, dundunes, shékeres, wiro, cencerros, mezclados con algún instrumento de otros orígenes como panderos, flautas, congas, etc., el emocionante ritmo predominantemente africano, con canciones y melodías típicas de distintos lugares del gran continente África o incluso composiciones propias, os llenarán de alegría y vitalidad!!

  %br
  %br

  %p.center.lead
    Si tiene usted algún problema y si los encuentra, quizás pueda contratarlos!

  %h3.lead.email
    %a{href: 'mailto:gema@kunkere.com'}gema@kunkere.com

  %p.center
    contratación y venta de entradas de los conciertos


%section.well.images
  %h2.lead Próximos conciertos

  %subsection
    %img.cartel{src: "images/carteles/kunkere-empodera-web-2012.png", :alt => 'Concierto Kunkere - Proyecto Empodera Web - Madrid'}

  %h3 Y más adelante ...

  %subsection
    %p
      El próximo concierto puede ser en tu barrio, local o festival!
      %a{href: 'mailto:gema@kunkere.com'} Contacta con nosotros!

    %a{href: "images/carteles/kunkere-flanagans-2012.jpg", title: 'Concierto Kunkere Flanagans - Majadahonda'}
      %img.cartel{src: "images/carteles/kunkere-flanagans-2012-x300.png", :alt => 'Concierto Kunkere Flanagans - Majadahonda'}

  %h3 Conciertos pasados ...

  %subsection
    %a{href: "images/carteles/kunkere-zerca-y-lejos.png", title: 'Concierto Kunkere Sala Taboo - Madrid'}
      %img.cartel{src: "images/carteles/kunkere-zerca-y-lejos-x300.png", :alt => 'Concierto Kunkere Sala Taboo - Madrid'}

%section.well
  %h2.lead Vídeos

  .center
    :erb
      <iframe src="http://player.vimeo.com/video/39225513?title=0&amp;byline=0&amp;portrait=0" width="900" height="506" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    :erb
      <!-- START Vimeo Badge ... info at http://vimeo.com/widget -->
      <style type="text/css">
      <!--
      /* You can modify these CSS styles */
      .vimeoBadge { margin: 1em 0 0 0; padding: 0; font: normal 11px verdana,sans-serif; }
      .vimeoBadge img { border: 0; }
      .vimeoBadge a, .vimeoBadge a:link, .vimeoBadge a:visited, .vimeoBadge a:active { color: #3A75C4; text-decoration: none; cursor: pointer; }
      .vimeoBadge a:hover { color:#00CCFF; }
      .vimeoBadge #vimeo_badge_logo { margin-top:10px; width: 57px; height: 16px; }
      .vimeoBadge .credit { font: normal 11px verdana,sans-serif; }
      .vimeoBadge .clip { padding:0; float:left; margin:0 10px 10px 0; width:100px; line-height:0; }
      .vimeoBadge .caption { font: normal 11px verdana,sans-serif; overflow:hidden; width:100px; height: 30px; }
      .vimeoBadge .clear { display: block; clear: both; visibility: hidden; }
      -->
      </style>
      <div class="vimeoBadge">
      			<script type="text/javascript" src="http://vimeo.com/kunkere/badgeo/?stream=uploaded&amp;stream_id=&amp;count=9&amp;thumbnail_width=100&amp;show_titles=no"></script>
      	</div>
      <!-- END Vimeo Badge -->

%section.motto
  .jumbo
    %p.lead No semos negros, pero como si lo seriéramos.

%section.man
  %img{:src => 'images/kunkere-man-300.png', :alt => 'Kúnkere'}

