---
title: Kúnkere - Arritmia Compulsiva
description: Kúnkere es una banda de percusión africana afincada en Madrid.
keywords: percusión, percussion, band, kunkere, kunk-kere, percusión en Madrid, grupo de percusión, arritmia compulsiva
---

.navbar.navbar-fixed-top
  .navbar-inner
    .container

%header.jumbo
  %img.logo{:src => 'images/kunkere-130.png', :alt => 'Kúnkere'}
  %h1 Kúnkere
  %p.lead Arritmia Compulsiva

%section.well
  %p.center.lead= @item[:description]

  %p.center
    Kúnkere, Arritmia Compulsiva es el nombre con el que se hace llamar una gran “familia” de más de 10 músicos de percusión africana que, desde hace más de dos años, comparten un mismo proyecto, aventureros curiosos de los ritmos mandingas, ritmos que hablan de un continente negro muy cercano, muy presente y del que tantas influencias sociales y culturales recibimos en diversos eventos sociales y musicales.

    Instrumentos africanos de percusión, como djembés, dundunes, shékeres, wiro, cencerros, mezclados con algún instrumento de otros orígenes como panderos, flautas, congas, etc., el emocionante ritmo predominantemente africano, con canciones y melodías típicas de distintos lugares del gran continente África o incluso composiciones propias, os llenarán de alegría y vitalidad!!

  %br
  %br

  %p.center.lead
    Si tiene usted algún problema y si los encuentra, quizás pueda contratarlos!

  %h3.lead.email
    %a{href: 'mailto:gema@kunkere.com'}gema@kunkere.com

  %p.center
    contratación y venta de entradas de los conciertos


%section.well.images
  %h2.lead Próximos conciertos

  %subsection
    %img.cartel{src: "images/carteles/kunkere-moloko-julio-2012.png", :alt => 'Concierto Kunkere Sala Moloko - Julio 2012'}

  %subsection
    %p
      El próximo concierto puede ser en tu barrio, local o festival!
      %a{href: 'mailto:gema@kunkere.com'} Contacta con nosotros!

  %h3 Conciertos pasados ...

  %subsection
    %p
      Kúnkere estuvo presente en el mítico WOMAD de Cáceres (19 de mayo 2012), deleitándoos con sus ritmos que amenizaron el aperitivo en el también mítico
      %a{href: 'http://elcorralcc.com/'}Corral de las Cigüeñas

  %subsection
    %a{href: "images/carteles/kunkere-flanagans-2012.jpg", title: 'Concierto Kunkere Flanagans - Majadahonda', target: '_blank'}
      %img.cartel{src: "images/carteles/kunkere-flanagans-2012-x300.png", :alt => 'Concierto Kunkere Flanagans - Majadahonda'}

    %a{href: "images/carteles/kunkere-empodera-web-2012.png", title: 'Concierto Kunkere - Proyecto Empodera Web - Madrid', target: '_blank'}
      %img.cartel{src: "images/carteles/kunkere-empodera-web-2012-x300.png", :alt => 'Concierto Kunkere - Proyecto Empodera Web - Madrid'}

    %a{href: "images/carteles/kunkere-zerca-y-lejos.png", title: 'Concierto Kunkere Sala Taboo - Madrid', target: '_blank'}
      %img.cartel{src: "images/carteles/kunkere-zerca-y-lejos-x300.png", :alt => 'Concierto Kunkere Sala Taboo - Madrid'}

%section.well
  %h2.lead Vídeos

  .center
    :erb
      <iframe src="http://player.vimeo.com/video/39225513?title=0&amp;byline=0&amp;portrait=0" width="900" height="506" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    :erb
      <!-- START Vimeo Badge ... info at http://vimeo.com/widget -->
      <style type="text/css">
      <!--
      /* You can modify these CSS styles */
      .vimeoBadge { margin: 1em 0 0 0; padding: 0; font: normal 11px verdana,sans-serif; }
      .vimeoBadge img { border: 0; }
      .vimeoBadge a, .vimeoBadge a:link, .vimeoBadge a:visited, .vimeoBadge a:active { color: #3A75C4; text-decoration: none; cursor: pointer; }
      .vimeoBadge a:hover { color:#00CCFF; }
      .vimeoBadge #vimeo_badge_logo { margin-top:10px; width: 57px; height: 16px; }
      .vimeoBadge .credit { font: normal 11px verdana,sans-serif; }
      .vimeoBadge .clip { padding:0; float:left; margin:0 10px 10px 0; width:100px; line-height:0; }
      .vimeoBadge .caption { font: normal 11px verdana,sans-serif; overflow:hidden; width:100px; height: 30px; }
      .vimeoBadge .clear { display: block; clear: both; visibility: hidden; }
      -->
      </style>
      <div class="vimeoBadge">
      			<script type="text/javascript" src="http://vimeo.com/kunkere/badgeo/?stream=uploaded&amp;stream_id=&amp;count=9&amp;thumbnail_width=100&amp;show_titles=no"></script>
      	</div>
      <!-- END Vimeo Badge -->

%section.well
  %h2.lead Fotos

  .center
    :erb

      <!-- Start of Flickr Badge -->
      <style type="text/css">
      #flickr_badge_source_txt {padding:0; font: 11px Arial, Helvetica, Sans serif; color:#45515F;}
      #flickr_badge_icon {display:block !important; margin:0 !important; border: 1px solid rgb(0, 0, 0) !important;}
      #flickr_icon_td {padding:0 5px 0 0 !important;}
      .flickr_badge_image {text-align:center !important; padding: 10px !important; clear: none; display: inline; }
      .flickr_badge_image img {border: 1px solid black !important;}
      #flickr_badge_uber_wrapper a:hover,
      #flickr_badge_uber_wrapper a:link,
      #flickr_badge_uber_wrapper a:active,
      #flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:#45515F !important; color:#3993ff;}
      #flickr_badge_wrapper { background:#45515F !important; }
      #flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#45515F !important;}
      </style>
      <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=latest&size=m&layout=x&source=user&user=77695092%40N07"></script>
      <!-- End of Flickr Badge -->

    .clear

    %br
    %br

    %p
      Tienes m&aacute;s fotos de Kunkere en
      %a{href: "http://www.flickr.com/photos/kunkere"}
        www.flickr.com/photos/kunkere



%section.motto
  .jumbo
    %p.lead No semos negros, pero como si lo seriéramos.

%section.man
  %img{:src => 'images/kunkere-man-300.png', :alt => 'Kúnkere'}

