/* line 17, /Users/dgilperez/.rvm/gems/ruby-1.9.2-p290@kunkere.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/dgilperez/.rvm/gems/ruby-1.9.2-p290@kunkere.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/dgilperez/.rvm/gems/ruby-1.9.2-p290@kunkere.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/dgilperez/.rvm/gems/ruby-1.9.2-p290@kunkere.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/dgilperez/.rvm/gems/ruby-1.9.2-p290@kunkere.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/dgilperez/.rvm/gems/ruby-1.9.2-p290@kunkere.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/dgilperez/.rvm/gems/ruby-1.9.2-p290@kunkere.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/dgilperez/.rvm/gems/ruby-1.9.2-p290@kunkere.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, /Users/dgilperez/.rvm/gems/ruby-1.9.2-p290@kunkere.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 8, content/stylesheets/application.sass */
body {
  background-position: 0 40px;
  background-repeat: repeat-x;
  padding-top: 45px;
  position: relative;
  font-size: 2em;
}

/* line 16, content/stylesheets/application.sass */
section {
  padding-top: 60px;
}

/* line 20, content/stylesheets/application.sass */
section.images subsection {
  display: block;
  margin: 1em 0;
}

/* line 25, content/stylesheets/application.sass */
header .logo {
  float: right;
  margin: 6px;
}

/* line 29, content/stylesheets/application.sass */
footer {
  text-align: center;
  margin-top: 2em;
}

/* line 33, content/stylesheets/application.sass */
.jumbo {
  position: relative;
}
/* line 36, content/stylesheets/application.sass */
.jumbo h1 {
  font-size: 5.4em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 9px;
}
/* line 43, content/stylesheets/application.sass */
.jumbo p {
  font-weight: 300;
  margin-bottom: 18px;
}
/* line 47, content/stylesheets/application.sass */
.jumbo .lead {
  font-size: 2.1em;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 20px;
}

/* line 53, content/stylesheets/application.sass */
.motto {
  text-align: center;
  clear: both;
}

/* line 57, content/stylesheets/application.sass */
.man {
  text-align: center;
  clear: both;
  padding-top: 40px;
}

/* line 62, content/stylesheets/application.sass */
.center {
  text-align: center;
}

/* line 65, content/stylesheets/application.sass */
.email {
  text-align: center;
  margin-bottom: 6px !important;
}
